# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

Application Data/
Cookies/
Documents/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
Downloads/
AppData/
node_modules
