
    .transparent-bg{
    background-color: yellow;
    color:white;
    }
    .green-bg{
    background-color: green;
    color:white;
    }
    .pink-bg{
    background-color: pink;
    color:white;
    }
    